#nf-field-18 {
    background: #8BC34A;
    border: none;
    color: #fff;
    padding: 15px 50px;
    text-transform: uppercase;
}
#nf-field-19-container {
    text-align: center;
    .nf-field {
    display: inline-block;
}
}

#nf-field-18-container {
    text-align: center;
    .nf-field {
    display: inline-block;
}
}
