body {
    color: #3e3e3e;
    background: #f6db74;
    font-family: 'Raleway', sans-serif;
    overflow-x: hidden;
    h1 {
        color: #fff;
        font-weight: 900;
        text-transform: uppercase;
        text-align: center;
    }
    h2 {
        color: #fff;
        text-transform: uppercase;
        text-align: center;
    }
    p {
        font-size: 1.918rem;
        font-weight: 500;
    }
    .content {
        font-family: 'Raleway', sans-serif;
        font-weight: 800;
        font-size: 3.858rem;
        text-align: left;
        @media only screen and (min-width: 600px) {
            font-size: 5.358rem;
        }
    }
    a {
        color: ##8BC34A;
        color: #3e3e3e;
    }
    .defaultSpace {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .border {
        border-top: 2px dashed #fff;
        border-bottom: 2px dashed #fff;
    }
    hr {
        margin-top: 5px;
        margin-bottom: 5px;
        border: 0;
        border-top: 5px solid #8BC34A;
        width: 75px;
        display: inline-block;
    }
}
